<div *ngIf="gridData.data">
    <div *ngFor="let item of gridData.data" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
        <div class="content-container" [style.background]="'url('+item.url+')'">
            <div class="favourite" (click)="addFavourite()" *ngIf="favItem">
                <img src="../../../assets/images/heart.png">
            </div>
            <div class="favourite" (click)="addFavourite()" *ngIf="!favItem">
                <img src="../../../assets/images/red-heart.png">
            </div>
            <div class="content-detail">
                <div class="profile-image">
                    <img [src]="item.photographer_url" alt="profile-image" class="profile-photo">
                </div>
                <div class="profile-name">
                    {{item.photographer}}
                </div>

            </div>
        </div>
    </div>
</div>