<div class="home-page-container">
    <div class="home-banner-container">
        <div class="app-logo-container">
            <img src="../../../assets/images/Logo.png" alt="application-logo">
        </div>
        <div class="search-moto-container">
            <div class="app-moto-container">
                <div class="app-moto">Discover the world’s best photos & videos</div>
                <div class="app-sub-moto">Best memories online</div>
            </div>
            <div class="search-bar-container">
                <input type="text" class="search" placeholder="Search photos, videos, artists" alt="search-bar-images-videos" [(value)]="searchParams">
                <div class="search-label" (click)="Onsearch()">Search</div>
            </div>
        </div>
    </div>
    <div class="content-header">
        <app-content-tabs [searchData]="searchData"></app-content-tabs>
    </div>
</div>